body{
/* text-align: center; */
background-color: bisque;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: #ffffff;
color: #333;
line-height: 1.6;
}

main{
    background-color: rgb(255, 255, 255);
    color: #414040;
    text-align: center;
}
header{
    background-color: rgb(72, 72, 255);
    height: 9vh;

}

.container{
    min-height: calc(100vh - 58px -12vh);
}

a{
    text-decoration: none;
    color: black;
    text-align: center;


}
footer{
    background-color: rgb(48, 48, 48);
    color: white;
    height: 9vh;
    text-align: center;

}